* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$main-bg: #F3F3F3;
$soft-bg: #7AAB33;
$dark-bg: #D04D4D;
$btn-bg:#3f7824;
//TEXT
$main-color: #3F7824CC;
$soft-color: #20304D;
$dark-color: #20304D;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1580px;

@mixin sm {
    @media screen and (max-width:$sm) {
        @content
    }
};
@mixin md {
    @media screen and (max-width:$md){
        @content
    }
};
@mixin lg {
    @media screen and (max-width:$lg){
        @content
    }
};
@mixin xl {
    @media screen and (max-width:$xl){
        @content
    }
};
@mixin xxl {
    @media screen and (max-width:$xxl){
        @content
    }
};


@font-face {
  font-family: Raleway400;
  src: url("../font/static/Raleway-Thin.ttf");
}
@font-face {
  font-family: Raleway500;
  src: url("../font/static/Raleway-Medium.ttf");
}
@font-face {
  font-family: RalewayBold;
  src: url("../font/static/Raleway-Bold.ttf");
}
@font-face {
  font-family: Raleway700;
  src: url("../font/static/Raleway-SemiBold.ttf");
}
h1,
h2,
h3,
h4,
h5,
p,
a,
span {
  margin: 0;
  padding: 0;
}
p{
  font-family: Raleway500;
}


a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button{
  border: none;
}
.container{
  padding: 0 10rem;
  @include xxl {
    padding: 0 2rem;
  }
}
.price{
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #fd9f20;
}
.btn,.btn-white{
  border: 1.5px solid  $btn-bg;
  cursor:pointer;
  border-radius:.5rem ;
}
.btn{
  background-color: $btn-bg;
  color: #ffff;
  &:hover {
    background-color: #eeeeee;
    color: #3f7824;
    transform: translate(0 ,-5px);
    transition: .5s all;
    box-shadow: 0px 5px #a8ada6;
    
  }
  &:active{
    transform: translate(0 ,0px);
    transition: .5s all;
    box-shadow: none;

  }

}
.btn-white{
  background-color: #ffff;
  &:hover {
    background-color: #3f7824 ;
    transform: translate(0 ,-5px);
    transition: .5s all;
    color: #eeeeee;
    box-shadow: 0px 5px #324b29;
  }
  &:active{
    transform: translate(0 ,0px);
    transition: .5s all;
    box-shadow: none;

  }


}
.btn-icon-outlined{
  border: 1.5px solid #B9B9B9;
  padding: .5rem;
  border-radius: .4rem;
   cursor: pointer;
   &:hover{
    background-color: #3f7824;
    color:#ffff ;
   }
}