@use "../../styles/comon.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
.wrap {
  display: flex;
  gap: 3rem;
  .sidebar {
    flex-basis: 20%;
    padding: 2rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #fcfcfc;
    border-radius: 10px;
    height: max-content;
    .header {
      .sort-price {
        .price-from {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            color: #00000094;
            font-weight: 600;
            font-size: 18px;
          }
        }
      }
    }
  }
  .products {
    flex-basis: calc(80% - 5rem );
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    .products-header{
      height:max-content ;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 2rem;
      border-bottom: 1px solid #00000094;
    }
    .productsList{
      display: flex;
       flex-wrap: wrap;
       gap: 20px;
      .box-product {
        flex-basis: calc(25% - 15px);
        max-height: 435px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 4px 0px #00000040;
        padding: 2rem 0;
        border-radius: 0.5rem;
        gap: 20px;
  
        .box-img {
          background-color: #eeeeee;
  
          img {
            width: 100%;
            height: auto;
          }
        }
        .box-title,
        .box-price,
        .box-btn {
          padding: 0 10px;
        }
        .box-btn {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          .order-now {
            flex-basis: calc(85% - 10px);
            background-color: #3f7824;
            border: 2px solid #3f7824;
            text-align: center;
            padding: 5px;
            border-radius: 5px;
            color: #fff;
            &:hover {
              background-color: #eeeeee;
              color: #3f7824;
              transform: translate(0 ,-5px);
              transition: .5s all;
              box-shadow: 0px 5px #a8ada6;
              
            }
            &:active{
              transform: translate(0 ,0px);
              transition: .5s all;
              box-shadow: none;

            }
          }
          .btn-add-to-cart {
       
            padding: 5px;
            border-radius: 5px;
            border: 2px solid #3f7824;
            font-size: 22px;
            &:hover {
              background-color: #3f7824 ;
              transform: translate(0 ,-5px);
              transition: .5s all;
              color: #eeeeee;
              box-shadow: 0px 5px #324b29;
            }
            &:active{
              transform: translate(0 ,0px);
              transition: .5s all;
              box-shadow: none;

            }
          }
        }
        .box-title {
          font-family: Raleway700;
          font-size: 18px;
          font-weight: 600;
          color: #20304d;
          line-height: 11px;
          letter-spacing: -0.015em;
        }
        .box-price {
          font-family: Inter;
          font-size: 20px;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: -0.015em;
          color: #fd9f20;
        }
      }
    }
    .pagination{
      position: absolute;
      bottom: -50px;
      left: 50%;
      transform: translate(-50%, 0px);
    }
  }
}
.ant-slider {
  margin: 0 5px;
}

.ant-slider .ant-slider-handle::after {
  border-radius: 20%;
  border: 2px solid #3f7824;
}
.ant-slider .ant-slider-rail {
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #3f7824;
}
.price {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -0.015em;
  text-align: left;

  color: #fd9f20;
}
.ant-input-number .ant-input-number-input {
  width: max-content;
  font-family: "Inter";
  color: #fd9f20;
  font-size: 18px;
  font-weight: 600;
}
